<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.issmart.dao.BoothDao">
	<select id="getBooothDetail" resultType="Map">
		SELECT bb.booth_name,bb.boothDescription,bb.booth_location,re.file_name,re.file_url FROM tb_bg_device_collect dc
		INNER JOIN tb_collector_booth cb ON dc.id = cb.collector_id
		INNER JOIN tb_bg_booth bb ON bb.id = cb.booth_id
		LEFT JOIN tr_bg_booth_datum bd ON bb.id = bd.booth_id
		LEFT JOIN tb_rm_resource re ON re.id = bd.datum_id
		WHERE dc.unit_id = #{unitId}
		AND dc.device_mac = #{deviceMac}
	</select>
	<select id="getUnitId" resultType="Map">
		SELECT m.unit_id as unitId,m.beacon_mac as beaconMac 
		from tb_member_info m
		LEFT JOIN tb_event_template e ON m.unit_id = e.unit_id
		WHERE m.beacon_id = #{beaconId}
		AND unix_timestamp(NOW()) BETWEEN e.start_timestamp AND e.end_timestamp
	</select>
	<select id="queryBoothInfo" resultType="Map">
		SELECT unit_id,device_mac,booth_name
		from tb_booth_info
	</select>
</mapper>